{
  "presets": [
    "env",
    "es2015",
    "flow",
    "react",
    "stage-0"
  ],
  "plugins": ["transform-runtime",
        ["react-css-modules", {
            "webpackHotModuleReloading": true
  }]
    ]
}